.header {
  overflow: hidden;
  background-color: #F8F8F8;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  display: block;
  z-index: 2000;
}

.top-image {
  width: 60px;
  vertical-align: middle;
}


.header a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 0;
  padding-top: 0;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 0.5rem;
}

.header a.logo:hover {
  background-color: #F8F8F8;
}

.header a.active {
  text-decoration: underline;
  cursor: pointer;
}

.header a.active.ranking {
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 12px;
}

.logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.header-right {
  float: right;
  margin-top: 12px;
  margin-right: 15px;
}

.header-buttons a {
  vertical-align: middle;
}


/* Mobile optimization */
@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }

  .header-right {
    display: none;
    margin-top: 10px;
  }

  .header-right.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header-right.mobile a {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }

  .header-right.mobile a:first-child {
    margin-top: 0;
  }

}
