<div class="header">
  <div class="logo-wrapper">
    <a class="logo" routerLink="/">ChemnitzMap <img class="top-image" src="media/karl-marx-head.png" alt=""></a>
  </div>


  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
    ☰
  </button>

  <div [ngClass]="mobileMenuClass">
    <div class="header-buttons">
      <a *ngIf="apiService.isLoggedIn()" (click)="toggleMenu()" class="active ranking" routerLink="/ranking">Ranking</a>
      <a *ngIf="apiService.isLoggedIn()" (click)="toggleMenu()" routerLink="/profile">Account</a>
      <a *ngIf="apiService.isLoggedIn()" class="active" (click)="logout()">Logout</a>
      <a *ngIf="!apiService.isLoggedIn()" class="active" (click)="toggleMenu()" routerLink="/login">Sign in</a>
    </div>
  </div>
</div>
