  <div class="search-bar">
    <input
      type="text"
      class="mySearch"
      [(ngModel)]="searchTerm"
      (keyup)="locationsBySearch()"
      placeholder="Search.."
      title="Type in a name"
    />
    <div class="locations-list">
      <ul class="ul">
        @for (e of filteredLocations; track e)
        {
          <li class="li" (click)="select(e._id)">
            <div class="li-content">
              <div class="name">{{ e.properties?.name }}</div>
              <div class="address">{{ e.properties?.['addr:street'] }}
                {{ e.properties?.['addr:housenumber'] }}, {{ e.properties?.['addr:city'] }}</div>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>

