<form (ngSubmit)="register()" #registerForm="ngForm">
  <label for="name">Username:</label><br>
  <input type="text" id="name" name="username" [(ngModel)]="user.name"><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" [(ngModel)]="user.email"><br>

  <label for="passwords">Password:</label><br>
  <input type="password" id="passwords" name="password" [(ngModel)]="user.password"><br><br>

  <input type="submit" value="Submit">
</form>

<p>Already have an account? Sign in <a routerLink="/login">here!</a></p>
