.locations-list {
  height: 82dvh;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 27dvw;
}

.locations-list.active {
  height: 69.5dvh;
}

.ul{
  list-style: none;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  margin: 1dvh 0 0;
}
.li{
  border-bottom: 0;
  padding: 10px 0 30px 0;

  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  margin-left: 0.5dvw;
  width: 25.5dvw;
}
.li:last-child{
  margin-bottom: 30px;
}

.li-content {
  padding-left: 1dvw;
}

.li:hover{
  background: #efefef;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.span-name{
  font-size: 14px;
  font-weight: bold;
}

.address {
  font-size: 12px;
  margin-top: 1rem;
}

.searchbar-form {
  width: 21dvw;
  margin-left: 10px;
  margin-top: 10px;
}

.filter-button{
  margin-left: 1dvw;
  font-size: 28px;
  margin-block-end: -0.5dvh;
  cursor: pointer;
}

.filter-locations{
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  margin: 0 1dvw 0;
  display: flex; /* Make it a flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.filter-locations.active {
  height: 10dvh;
  margin: 0.5dvh 1dvw 2dvh;
}

