.locations-list {
  height: 87dvh;
  /*border: 1px solid #ccc;*/
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: calc(100dvw - 70dvw);
}

.ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
.li{
  width: 100%;
  border-bottom: 0;
  padding: 10px 0 30px 0;
}
.li:last-child{
  margin-bottom: 30px;
}

.li-content {
  padding-left: 1dvw;
}

.address {
  font-size: 14px;
}

.name {
  font-size: 18px;
}

.searchbar-form {
  width: 20dvw;
  margin-left: 10px;
}
