.sidebar {
  display: grid;
  grid-template-areas:
    "search filterbtn"
    "filters filters"
    "list list";

  grid-template-columns: 1fr 46px;
  grid-template-rows: 76px auto 1fr;  /* Adjust 50px as needed */
  height: 100%; /* or 100vh if sidebar is fullscreen */
}

.sidebar-row-bg {
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 0;
}

.searchbar-form {
  grid-area: search;
}

.searchbar-form mat-form-field {
  margin: 10px;
  width: calc(100% - 20px);
}

.filter-button {
  grid-area: filterbtn;
  cursor: pointer;
  align-self: center;
}

.filter-locations {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  grid-area: filters;
  padding: 0 10px;
}

.filter-locations.active {
  max-height: 200px;
}

.filter-locations mat-chip-set {
  margin-bottom: 10px;
}

.locations-list {
  grid-area: list;
  overflow-y: auto;
  min-height: 0;
  padding: 10px;
  margin: 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}

.li {
  border-bottom: 0;
  padding: 10px 0 30px 0;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  cursor: pointer;
}

.li:last-child {
  margin-bottom: 30px;
}

.li-content {
  padding-left: 1dvw;
}

.li:hover {
  background: #efefef;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.span-name {
  font-size: 14px;
  font-weight: bold;
}

.address {
  font-size: 12px;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .sidebar {
    pointer-events: none;
  }

  .sidebar-row-bg {
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for safari */
  }

  .searchbar-form,
  .filter-button,
  .filter-locations,
  .locations-list {
    pointer-events: all;
  }

  .locations-list {
    border-top: none
  }

  .search-page {
    display: none;
  }

  .search-page.mobile-active {
    display: block;
  }

  .filter-filters {
    background: rgba(255, 255, 255, 0.50) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px) !important; /* for safari */
    font-size: 10rem !important;
  }

}
