.h1 {
  text-align: center;
}

.ranking-list {
  margin-top: 2dvw;
}

.ul {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.li {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #f9f9f9;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.li:last-child {
  margin-bottom: 30px;
}

.li-content {
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

.rank-badge {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.first-place {
  background-color: #ffe066; /* Soft bright gold */
  color: #222;
  font-weight: bold;
}

.second-place {
  background-color: #e0e0e0;
  /*color: #333;*/
  color: #222;
  font-weight: bold;
}

.third-place {
  background-color: #d4a373;
  /*color: #fff;*/
  /*color: #333;*/
  color: #222;
  font-weight: bold;
}

.li-text {
  vertical-align: middle;
  font-weight: bold;
  width: calc(100% - 100px);
  display: inline-block;
}

.li-points {
  width: 100px;
  display: inline-block;
  text-align: right;
}

.points-image {
  vertical-align: middle;
  width: 40px;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .h1{
    font-size: 1.5rem;
  }

  .li-text {
    font-size: 1rem;
  }

  .li-points {
    font-size: 1rem;
  }

  .points-image {
    width: 40px;
  }
}
