<h2 mat-dialog-title> {{location.properties?.name || location.properties?.artwork_type ||
location.properties?.description || location.properties?.tourism || location.properties?.amenity || 'Unknown Location'}} </h2>

<mat-dialog-content class="mat-typography">
  <div class="star-rating">
    <mat-icon
      *ngFor="let star of stars; let i = index"
      (click)="rate(i + 1)"
      [ngClass]="{ filled: i < rating }"
    >star</mat-icon>
  </div>
  <form class="example-form" [formGroup]="reviewForm" (ngSubmit)="addReview()">
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="" formControlName="comment"></textarea>
    </mat-form-field>
    <button class="sign-in-button" mat-button="outlined" type="submit" aria-label="Show an example snack-bar">
      Submit
    </button>

    <button class="cancel-button" mat-button="outlined" type="button" routerLink="/">
      Cancel
    </button>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Publish</button>-->
</mat-dialog-actions>
