#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.toggle-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
  background-color: transparent;
  padding: 6px;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {

  #map {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #map-container {
    width: 100dvw;
  }

  .toggle-container {
    bottom: 15px;
    right: 10px;
    top: unset;
    left: unset;
  }
}
