* {
  font-family: Inter, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
/*.custom-popup .leaflet-popup-tip {*/
  background: rgba(255, 255, 255, 0.50); /* white with transparency */
  backdrop-filter: blur(10px); /* blur the background behind */
  /*-webkit-backdrop-filter: blur(10px); !* Safari support *!*/
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 16px;
}

.custom-popup .leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popup-card {
  padding: 16px;
}

.popup-header h4 {
  margin: 0;
  font-size: 16px;
}

.popup-subtitle {
  color: #666;
  font-size: 13px;
}

.popup-actions {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.popup-actions button {
  flex: 1;
  padding: 8px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.popup-actions button:hover {
  background: #e0e0e0;
}
