.main-layout-container {
  display: block;
  height: calc(100vh - 76px);
}

.searchbar,
.map {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.searchbar {
  width: 27%;
}

.map {
  width: 73%;
}

@media screen and (max-width: 600px) {

  .searchbar {
    position: absolute;
    z-index: 1002;
    width: 100%;
    height: calc(100vh - 76px);
  }

  .map {
    width: 100%;
  }

}
